﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Error</title>
</head>
<body>
<hgroup>
    <h1>Error.</h1>
    <h2>@ViewBag.Error</h2>
</hgroup>
</body>
</html>