﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.heading {
    
}

#icon-container{
    width: 80%;
    margin-top: 27%;
    margin-left: 0;
}

i {
    font-size: 100px;
    color: gray;
    margin-left: 35%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
