﻿@model LoginApp.Models.User 

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>DashBoard</title>
</head>
<body>
<div>
    <h1>Welcome @Model.UserName</h1>
</div>
</body>
</html>