﻿@using System.Web.UI.WebControls
@model LoginApp.Models.User

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h1> Login Page </h1>
    <div class="jumbotron row">
        <div class="col-md-6">
            <div class="center-block" id="icon-container">
                <span>
                    <i class="glyphicon glyphicon-user"></i>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <form class="" action="/Login/Login" method="post">
                @if (ViewBag.hasError == true)
                {
                    <div class="alert-danger">
                        <p>@ViewBag.Error</p>
                    </div>
                }
                <div class="form-group">
                    <label for="username"></label>
                    <input class="form-control" type="text" placeholder="Username" name="Username" id="username"/>
                </div>

                <div class="form-group">
                    <label for="password"></label>
                    <input class="form-control" name="Password" placeholder="Password" type="password" id="password"/>
                </div>

                <button class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>