﻿@{
    ViewBag.Title = "Registration Page";
}
<div class="container">
    <h1> Registration Page </h1>
    <div class="jumbotron row">
        <div class="col-md-6">
            <div class="center-block" id="icon-container">
                <span>
                    <i class="glyphicon glyphicon-user"></i>
                </span>
            </div>
        </div>
        <div class="col-md-6 row">
            <form method="post" class="" action="/Login/Register">
                @if (ViewBag.hasError == true)
                {
                    <div class="alert-danger">
                        <p>@ViewBag.Error</p>
                    </div>
                }
                <div class="form-group">
                    <label for="firstName"></label>
                    <input class="form-control form-inline" type="text" placeholder="First Name" name="FirstName" id="firstName"/>
                </div>

                <div class="form-group">
                    <label for="lastName"></label>
                    <input class="form-control" type="text" placeholder="Last Name" name="LastName" id="lastName"/>
                </div>

                <div class="form-group">
                    <label for="username"></label>
                    <input class="form-control" type="text" placeholder="Username" name="Username" id="username"/>
                </div>

                <div class="form-group">
                    <label for="password"></label>
                    <input class="form-control" name="Password" placeholder="Password" type="password" id="password"/>
                </div>
                <div class="form-group">
                    <label for="cpassword"></label>
                    <input class="form-control" name="confirmPassword" placeholder="Confirm Password" type="password" id="cpassword"/>
                </div>

                <button type="submit" name="Register" class="btn btn-success">
                    <span class="next">Register</span>
                </button>
            </form>
        </div>
    </div>
</div>